body {
    background-color: #1e1f24 !important;
}

h {
    font-family: Monospace;
    font-size: 24px;
    color: #8080f0;
}

h20 {
    font-family: Sans-Serif;
    font-size: 48px;
    color: #8080f0;
}

h27 {
    font-family: Sans-Serif;
    font-size: 20px;
    color: #8080f0;
}


p {
    font-family: Monospace;
    color: #b0b0b0;
    text-align: center;
}

h1 {
  text-align: center;
  margin: 35px 0 20px 0 !important;
  color: #8080f0 !important;
}

.form-control {
      font-family: Monospace;
      background-color: #1e1f24 !important;
      color: #b0b0b0 !important;
}

.form-control:focus {
  color: #b0b0b0 !important;
  background-color: #1e1f24 !important;

}


