body {
    background-color: #1e1f24;
}

h {
    font-family: Monospace;
    font-size: 24px;
    color: #8080f0;
}

h20 {
    font-family: Sans-Serif;
    font-size: 48px;
    color: #8080f0;
}

h27 {
    font-family: Sans-Serif;
    font-size: 20px;
    color: #8080f0;
}


p {
    font-family: Monospace;
    color: #b0b0b0;
    text-align: center;
}

.message {
  width: 500px;  
  height: 500px; 
}

#msgtru {
    background-color: #373940;
    color: #b0b0b0;
    border: 3px solid #000000;
    
}

form {
  width: 30px; /* Or a max-width */
  margin: 0 auto; /* Sets top/bottom margins to 0, left/right to auto */
}



